@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    width: 100vw;
    min-height: 100vh;
}

.main-container {
    display: flex;
    /* align-items: center; */
    gap: 50px;
    background-color: #fff;
    width: 950px;
    height: 550px;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.woman-container {
    position: relative;
    /* outline: 1px solid #000; */
    background: url(./images/illustration-woman-online-desktop.svg) no-repeat, url(./images/bg-pattern-desktop.svg)no-repeat;
    background-size: 110%, 230%;
    background-position: bottom 135px right 30px, bottom -75px right 30px;
    padding-top: 5rem;
    width: 700px;
    height: 550px;
    
}

.box {
    /* outline: 1px solid #000; */
    position: absolute;
    top: 200px;
    left: -92px;
}

.faq-container {
   /* outline: 1px solid #000; */
   padding-top: 5.1rem;
   margin-right: 5rem;
}

.container {
    outline: 1px solid #000;
    display: flex;
    padding-bottom: 2rem;
}

.faq-container > h1 {
    /* outline: 1px solid #000; */
    margin-bottom: 2.5rem;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}







